<header>
    <!-- Created Header for all pages -->
<div class="navbar-fixed">
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">The Gif That Keeps On Gifing</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="navlinks" href="/about">About</a></li>
        <% if (user) { %>
        	<% if (user.surveySelections.length >= 12) { %>
        		<li><a href="/myresults">My Results</a></li>
        	<% } %>
        <% } %>
      	
      	<% console.log(user) %>
      	
        <li>
          <!-- imported from OAuth lesson, moved from welcome page to here -->
          <% if (user) { %>
          <a class="navlinks" href="/logout">Logout</a>
          <% } else { %>
          <a class="navlinks" href="/auth/google">Login</a>
          <% } %>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="navlinks" href="/about">About</a></li>
        <% if (user) { %>
          <li><a class="navlinks" href="/myresults">My Results</a></li>
        <% } %>
        <li>
          <!-- imported from OAuth lesson, moved from welcome page to here -->
          <% if (user) { %>
          <a class="navlinks" href="/logout">Logout</a>
          <% } else { %>
          <a class="navlinks" href="/auth/google">Login</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>

</div>
</header>
