*,
html,
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

/*Make Footer Sticky*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*image placeholder*/
img {
    width: 200px;
    height: 200px;
}
