*,
html,
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

/*Make Footer Sticky*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
}

main {
  flex: 1 0 auto;
  height: 78vh;
  padding-bottom: 15vh;
}

/*image placeholder*/
img {
/*  min-height: 200px;*/
}

.brand-logo {
  margin-left: 10px;
  color: #F8BBD0;
  font-family: 'Londrina Outline', cursive;
}

/*NAVBAR STYLING*/

.nav-wrapper {
  background-color: #f06292;
}
header {
  position: relative;
  z-index: 1000;
}

/*Title Styling*/

h2 {
  color: #d81b60;
}

/*FOOTER STYLING*/

footer.page-footer {
  background-color: #f48fb1;
}

.footer-h5{
  font-family: 'Londrina Outline', cursive;
}

/*Full Width Cards*/

 .row-full{
 width: 100vw;
 height: 50vh;
}*/

.card-panel {
  background-color: #fce4ec;
  margin-bottom: 5vh;
}

#landingpage {
  margin-top: -1vh;
  height: 90vh;
}

.maincontent {
  margin-top: 20vh;
}

/*Buttons*/
.btn {
  background-color: #FF4081;
}

button {
  background-color: #FF4081;
}

btn-large {
  background-color: #FF4081;
}

.btn, .btn-large{
    background-color: #FF4081;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #d500f9;
}

/*Landing Page Specifics*/
.main-div {
  margin-top: 5vh;
}

.landingcard {
  height: 60vh;
  margin: 0 auto;
}

.card-image {
  overflow: hidden;
  height: 230px;
}

.landingimage {
  display: inline-block;
  border-radius: 2px 2px 0 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.card {
  max-width: 405px;
}

.main-card {
  margin: 0 auto;
}

/*survey card*/

.main-survey-card {
  margin-left: 0 auto;
}

.surveycard {
  min-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.surveyimage {
  display: inline-block;
/*  border-radius: 2px 2px 0 0;*/
  min-width: 100%;
  min-height: 100%;
  align-content: center;
}

.abt-images {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.our-names {
  font-family: 'Londrina Outline', cursive;
}

.github-links {
  color: black;
}

.about-container {
  margin-top: 15vh;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1001px) {
  main {
    flex: 1 0 auto;
    min-height: 130vh;
  }

  .main-div {
    margin: 0 auto;
  }

  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
}

@media only screen and (min-width: 601px)
  .row .col.offset-m2 {
      margin-left: 1%;
    }

  .surveyimage {
    display: inline-block;
  /*  border-radius: 2px 2px 0 0;*/
    max-width: 200px;
    max-height: 200px;
    align-content: center;
  }

}
