*,
html,
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

/*Make Footer Sticky*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
}

main {
  flex: 1 0 auto;
  height: 83vh;
}

/*image placeholder*/
img {
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;
}

.brand-logo {
  margin-left: 10px;
  color: #F8BBD0;
}

/*NAVBAR STYLING*/

.nav-wrapper {
  background-color: #f06292;
}

/*Title Styling*/

h2 {
  color: #d81b60;
}

/*FOOTER STYLING*/

footer.page-footer {
  background-color: #f48fb1;
}

/*Full Width Cards*/

 .row-full{
 width: 100vw;
 height: 50vh;
}

.card-panel {
  background-color: #fce4ec;
  margin-bottom: 5vh;
}

#landingpage {
  margin-top: -1vh;
  height: 90vh;
}

.maincontent {
  margin-top: 20vh;
}

/*Buttons*/
.btn {
  background-color: #FF4081;
}

button {
  background-color: #FF4081;
}

btn-large {
  background-color: #FF4081;
}

.main-div {
  margin-top: 6vh;
}
