<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main class="main-div center-align">
    <div class="row about-container">

        <div class="col m4 s12 center-align">
          <h4 class="our-names">Cait Friedlander</h4>
          <img class="abt-images about" src="https://media.giphy.com/media/KFmOfbl5mrbK8/giphy.gif" alt="caffinatedbird gif">
          <br>
          <br>
          <button class="btn waves-effect waves-purple"><a class="github-links" href="https://github.com/caitfriedlander">GitHub</a></button>
        </div>
        <div class="col m4 s12 center-align">
          <h4 class="our-names">Mel Rabineau</h4>
          <img class="abt-images" src="http://media1.giphy.com/media/pFwRzOLfuGHok/giphy.gif" alt="monkey with a keyboard">
          <br>
          <br>
          <button class="btn waves-effect waves-purple"><a class="github-links" href="https://github.com/mrabineau">GitHub</a></button>
        </div>
        <div class="col m4 s12 center-align">
          <h4 class="our-names">Zach Totta</h4>
          <img class="abt-images" src=" https://media.giphy.com/media/3o6UB65bfF8P1anIZ2/giphy.gif " alt="slam dunk">
          <br>
          <br>
          <button class="btn waves-effect waves-purple"><a class="github-links" href="https://github.com/ztotta">GitHub</a></button>
        </div>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
