<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main class="main-div center-align">
    <div class="row">

        <div class="col m4 s7">
          <h4>Cait Friedlander</h4>
          <img src="" alt="">
          <br>
          <a href="https://github.com/caitfriedlander">GitHub</a>
        </div>
        <div class="col m4 s7">
          <h4>Mel Rabineau</h4>
          <img src="" alt="">
          <br>
          <a href="https://github.com/mrabineau">GitHub</a>
        </div>
        <div class="col m4 s7">
          <h4>Zach Totta</h4>
          <img src="" alt="">
          <br>
          <a href="https://github.com/ztotta">GitHub</a>
        </div>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
