<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/results.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="intro">
      <div class="container">
        <h1>YOU, BUT GIFIER</h1>
      </div>
    </div>
    <div class="timeline">
      <ul>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question #</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
      </ul>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
