<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/results.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <section class="intro">
      <div class="container">
        <h1>YOU, BUT GIFIER</h1>
      </div>
    </section>
    <section class="timeline">
      <ul>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
        <li>
          <div>
            <time>Question #</time><img src="" alt=""> GIF of choice
          </div>
        </li>
      </ul>
    </section>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
