<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <section class="intro">
    <div class="container">
      <h1>Vertical Timeline &darr;</h1>
    </div>
  </section>
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
      <li>
        <div>
          <time>Question #</time><img src="" alt=""> GIF of choice
        </div>
      </li>
    </ul>
  </section>
</body>
</html>
