<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/results.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="intro">
      <div class="container">
        <h1>YOU, BUT GIFIER</h1>
        
        <% console.log("FROM EJS:" + surveySelections) %>
        
      </div>
    </div>
    <div class="timeline">
      <ul>
        <li>
          <div class="center-align">
            <h5>Question 1</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 2</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 3</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 4</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 5</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 6</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 7</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 8</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 9</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 10</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 11</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
        <li>
          <div class="center-align">
            <h5>Question 12</h5><img src="" alt=""> <p>Response</p>
          </div>
        </li>
      </ul>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
  <script src="../../public/js/timeline.js"></script>
</body>
</html>
