<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <!-- functionality to swap between the langind page and the survey page -->
    <!-- SURVEY PAGE -->
  <main class="main-div center-align">
    <div class="container">
      <div class="row valign-wrapper center-align main-div">
        <div class="col s12 m8 offset-s0 offset-m2">
          <div class="card-panel large surveycard">
            <div class="card-image center-align surveyimage">
              <img id="survey-gif" src="#">
              <!-- I think we should put a random gif here on each page of the survey -->
            </div>
            <div class="card-content">
              <h5 class="question-number"></h5>
              <p class="question-text"></p>
              <br>
                <div class="input-field col s12 responses">
                <select>
                  <option value="" disabled selected>Your Answer</option>
                  <option id="option1" value="1">Option 1</option>
                  <option id="option2" value="2">Option 2</option>
                  <option id="option3" value="3">Option 3</option>
                  <option id="option4" value="4">Option 4</option>
                  <option id="option5" value="5">Option 5</option>
                </select>
              </div>
                <span class="input-group-btn">
                    <button id="submit" class="btn waves-effect waves-purple" type="submit" name="action">NEXT
                      <i class="material-icons right">send</i>
                    </button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- We need the page that launches the results page here with a button -->
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
