<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <!-- LANDING PAGE -->
  <div class="container center-align">
    <h4>Have you ever wondered what your life would look like in GIF form? Well, wonder no more.</h4>
    <h5 class="center-align">Take this Survey. What? Are you scared?</h5>
    <a href="/survey" class="waves-effect waves-light btn-large">GO GIF YOURSELF</a>
  </div>

  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
