<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main class="main-div">
    <div class="container center-align main-div">
      <h4>Have you ever wondered what your life would look like as a collection of delightful GIFs?</h4>
<!--       <h5 class="center-align">Well, wonder no more! Take this Survey. What? Are you scared?</h5> -->
      <img id= "landing-gif" src="https://media.giphy.com/media/NLLQUmfh3os6c/giphy.gif"><br>
      <a href="/survey" class="waves-effect waves-light btn-large">GO GIF YOURSELF</a>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
