<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <!-- LANDING PAGE -->
  <div class="container">
    <h3 class="center-align">Take this Survey. What? Are you scared?</h3>
    <h5 class="center-align">SURVEY. NOW.</h5>
  </div>

  <!-- functionality to swap between the langind page and the survey page -->
    <!-- SURVEY PAGE -->
  <div class="container">
    <div class="row valign-wrapper" id="main-div">
      <div class="col s12 m9">
        <div class="card large">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <!-- I think we should put a random gif here on each page of the survey -->
            <span class="card-title">Question Text Goes Here</span>
          </div>
          <div class="card-content">
            <h5>Question # Goes Here</h5>
            <p>Question Text Goes Here</p>
            <br>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select One</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li><a href="#!">three</a></li>
            </ul>
          </div>
          <div class="card-action">
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit" id="submit">GIF DAT</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
