<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <!-- LANDING PAGE -->
  <div class="container center-align">
    <h3 class="center-align">Take this Survey. What? Are you scared?</h3>
    <h5 class="center-align">SURVEY. NOW.</h5>
    <a href="/survey" class="waves-effect waves-light btn-large">GO GIF YOURSELF</a>
  </div>

  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
