<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <!-- LANDING PAGE -->
  <h3>'Take this Survey. What? Are you scared?'</h3>
  <h5>SURVEY. NOW.</h5>


  <!-- SURVEY PAGE -->
    <div class="row" id="main-div">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <!-- I think we should put a random gif here on each page -->
            <span class="card-title">Question Text Goes Here</span>
          </div>
          <div class="card-content">
            <h5>Question # Goes Here</h5>
            <p>Question Text Goes Here</p>
            <input type="text" id="answer01" class="form-control"
            placeholder="Dropdown Goes Here">
          </div>
          <div class="card-action">
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit" id="submit">GIF DAT</button>
            </span>
          </div>
        </div>
      </div>
    </div>
<!--           <div class="input-group">
            <input type="text" id="answer01" class="form-control"
                    placeholder="Enter answer01">
                    <input type="text" id="answer02" class="form-control"
                    placeholder="Enter answer02">
                    <input type="text" id="answer03" class="form-control"
                    placeholder="Enter answer03">
                    <input type="text" id="answer04" class="form-control"
                    placeholder="Enter answer04">
                    <input type="text" id="answer05" class="form-control"
                    placeholder="Enter answer05">
                    <input type="text" id="answer06" class="form-control"
                    placeholder="Enter answer06">
                    <input type="text" id="answer07" class="form-control"
                    placeholder="Enter answer07">
                    <input type="text" id="answer08" class="form-control"
                    placeholder="Enter answer08">
                    <input type="text" id="answer09" class="form-control"
                    placeholder="Enter answer09">
                    <input type="text" id="answer10" class="form-control"
                    placeholder="Enter answer10">
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit" id="submit">GIF DAT</button>
            </span>
          </div> -->
      </div>
    </div>
  <%- include('../partials/footer') %>

  <%- include('../partials/scripts') %>
</body>
</html>
